@import "./fonts/stylesheet.css"; /* Using a string */

#item {
    color: white;
}

#video-table {
    text-align: center;
}

#clock {
    color: white;
}

#title {
    font-size: 500px;
    font-family: sans-serif;
}

.navbar-collapse.collapse.in {
    display: block!important;
  }