/*UPDATE !!!!!!!!!!!!!*/


#item {
    color: white;
}

#video-table {
    text-align: center;
}

#clock {
    color: white;
}

#title {
    font-size: 150px;
}

.navbar-collapse.collapse.in {
    display: block!important;
  }