@font-face {
    font-family: 'microgramma_dbold_extended';
    src: url('microgramma_d_extended_bold-webfont.woff2') format('woff2'),
         url('microgramma_d_extended_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}